<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Kotlin Spring Sample</title>
</head>
<body>

<h1>Model List</h1>

<table>
    <th:block th:each="model : ${modelList}">
        <tr>
            <td th:text="${model.id}"></td>
            <td th:text="${model.name}"></td>
            <td th:text="${model.price}"></td>
            <td th:text="${model.type}"></td>
            <td th:text="${model.toString()}"></td>
        </tr>
    </th:block>
</table>

</body>
</html>